<include src="hero-partial.hbs"></include>

<div class="container">

    <section class="section user-links">
    <section class="categories">

      <h2 class="category-list__title">
        Welkom bij de <br /> Greenberry ServiceDesk.  
      </h2>
      <ul class="category-list">
      
        <li class="category-list__item">
          {{#link 'new_request' class='category-list__item-link'}}
          Maak een nieuw ticket
          <svg viewBox="0 0 31 19" class="icon icon-arrow"><g><g><path fill="currentColor" d="M25,16.9V19h-5v-2.1H25z M28,12.7v2.1h-5v-2.1H28z M31,8.4v2.1H0V8.4H31z M28,4.2v2.1h-5V4.2 H28z M25,0v2.1h-5V0H25z"></path></g><g><path fill="currentColor" d="M25,16.9V19h-5v-2.1H25z M28,12.7v2.1h-5v-2.1H28z M31,8.4v2.1H0V8.4H31z M28,4.2v2.1h-5V4.2 H28z M25,0v2.1h-5V0H25z"></path></g></g></svg>
          {{/link}}
        </li>

        <li class="category-list__item">
          {{#link "my_activities" class="category-list__item-link"}}
          Bekijk al mijn tickets
          <svg viewBox="0 0 31 19" class="icon icon-arrow"><g><g><path fill="currentColor" d="M25,16.9V19h-5v-2.1H25z M28,12.7v2.1h-5v-2.1H28z M31,8.4v2.1H0V8.4H31z M28,4.2v2.1h-5V4.2 H28z M25,0v2.1h-5V0H25z"></path></g><g><path fill="currentColor" d="M25,16.9V19h-5v-2.1H25z M28,12.7v2.1h-5v-2.1H28z M31,8.4v2.1H0V8.4H31z M28,4.2v2.1h-5V4.2 H28z M25,0v2.1h-5V0H25z"></path></g></g></svg>
          {{/link}}
        </li>
      
         
      </ul>
    </section>

</div>

<script src="{{asset 'home_page.js'}}"></script>
